body{
    background-image: url('https://www.incimages.com/uploaded_files/image/1920x1080/getty_638884198_366705.jpg');
    background-size: 100%;
}
.form{
    width: 30%;
    height: 20vh;
    border: 1px solid blanchedalmond;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list_div{
    border: 1px solid;
    /* width: 80%; */
    /* text-align: center; */
}
.list{
    /* border: 1px solid; */
    margin: auto;
    color: black;
    width: 35%;
    font-size: 7vh;
    padding: 1%;
}
#delete{
    float: right;
    margin: 1%;
    color: white;
    background-color: red;
    border: none;
    padding: 1%;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 4%;
}